<accordion close-others="true">
    <accordion-group ng-repeat="job in jobs" is-open="false">
        <accordion-heading>
            <span ng-click="loadJob(job.name)"><img ng-src="http://{{Jenkins.url}}:{{Jenkins.port}}/static/9444ee44/images/32x32/{{job.color == 'notbuilt' ? 'nobuilt' : job.color}}.gif"> {{job.name}}</span>
        </accordion-heading>
         <ul>
            <li>Build number: {{jobDetail.lastBuild.number}} - {{jobDetail.lastBuild.actions[1].lastBuiltRevision.SHA1}}</li>
            <li>
                Last successful build:
                <a href="{{jobDetail.lastSuccessfulBuild.url}}">
                    {{jobDetail.lastSuccessfulBuild.timestamp | date:'medium'}}
                </a>
            </li>
            <li>
                Last failed build:
                <a href="{{jobDetail.lastFailedBuild.url}}">
                    {{jobDetail.lastFailedBuild.timestamp | date:'medium'}}
                </a>
            </li>
            <li>
                Modules :
                <ul>
                    <li ng-repeat="module in jobDetail.modules">
                        <a href="{{module.url}}">{{module.displayName}} ({{module.name}})</a>
                    </li>
                </ul>
            </li>
            <li>
                Health status :
                <ul>
                    <li ng-repeat="health in jobDetail.healthReport">
                        <img ng-src="http://{{Jenkins.url}}:{{Jenkins.port}}/static/9444ee44/images/32x32/{{health.iconUrl}}" /> {{health.description}}
                    </li>
                </ul>
            </li>
        </ul>
    </accordion-group>
</accordion>
